/* NORMALIZE */
/* ================================================ */
html, body, div, span, applet, main, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, main, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Tahoma, sans-serif;
  line-height: 1;
  background-color: #ffffff;
  height: 100%;
  position: relative;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-width: 0px;
  padding: 0px;
  margin: 0px;
}

html {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

input, textarea {
  color: #333;
  outline: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
}

input[type="button"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  outline: none;
}

button {
  cursor: pointer;
  -webkit-appearance: none;
  outline: none;
}

td, form {
  margin: 0px;
  padding: 0px;
}

a {
  color: #000100;
  transition: all 0.3s linear;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

* {
  box-sizing: border-box;
}

*:before, *:after {
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Black.eot");
  src: url("../fonts/ProximaNova-Black.eot") format("eot"), url("../fonts/ProximaNova-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNova-Bold.eot") format("eot"), url("../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot") format("eot"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-SemiboldIt.eot");
  src: url("../fonts/ProximaNova-SemiboldIt.eot") format("eot"), url("../fonts/ProximaNova-SemiboldIt.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova-Regular.eot") format("eot"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-RegularIt.eot");
  src: url("../fonts/ProximaNova-RegularIt.eot") format("eot"), url("../fonts/ProximaNova-RegularIt.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Museo Cyrilic";
  src: url("../fonts/MuseoCyrl.eot");
  src: url("../fonts/MuseoCyrl.eot") format("eot"), url("../fonts/MuseoCyrl.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
body {
  color: #FFF;
  font-size: 16px;
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
  line-height: 22px;
}

.flex-wrap {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
}
.btn button {
  background: none;
  border: none;
  min-width: 250px;
  height: 40px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  box-shadow: 0 4px 6px rgba(188, 0, 143, 0.15);
  border-radius: 25px;
  background-image: linear-gradient(180deg, #da06a7 0%, #b5008a 100%);
  transition: all 0.3s;
}
.btn button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.ttl-head {
  text-align: center;
}
.ttl-head h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 46px;
}

header {
  min-height: 81px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background: #00b4b1;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 10;
}
header .oplet {
  min-height: 81px;
}
header .phone ul li {
  list-style: none;
  padding: 2px 0;
}
header .phone ul li a {
  font-weight: 600;
  line-height: 15px;
  color: #fff;
}
header .menu {
  min-height: inherit;
  height: 100%;
}
header .menu nav {
  min-height: inherit;
  height: 100%;
}
header .menu nav ul {
  min-height: inherit;
  height: 100%;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
header .menu nav ul li {
  display: inline-block;
  list-style: none;
  min-height: inherit;
  height: 100%;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  transition: all 0.3s;
}
header .menu nav ul li a {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  padding: 28px 0;
}
header .menu nav ul li:hover, header .menu nav ul li.active {
  border-bottom: 3px solid #f9e093;
  border-top: 3px solid #f9e093;
  background: rgba(0, 0, 0, 0.1);
}

.slider {
  min-height: 750px;
  position: relative;
  margin-top: 81px;
}
.slider .prev, .slider .next {
  position: absolute;
  top: calc(50% - 50px);
  cursor: pointer;
  z-index: 2;
}
.slider .prev {
  left: 50px;
}
.slider .prev img {
  transition: all 0.3s;
  -webkit-filter: saturate(50%);
          filter: saturate(50%);
}
.slider .prev img:hover {
  -webkit-filter: saturate(150%);
          filter: saturate(150%);
}
.slider .next {
  right: 50px;
}
.slider .next img {
  transition: all 0.3s;
  -webkit-filter: saturate(50%);
          filter: saturate(50%);
}
.slider .next img:hover {
  -webkit-filter: saturate(150%);
          filter: saturate(150%);
}
.slider .sldr {
  min-height: inherit;
  height: 100%;
}
.slider .sldr .item {
  max-width: 1920px;
  width: 100%;
  min-height: 750px;
  position: relative;
}
.slider .sldr .item .pic {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
  max-height: 750px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.slider .sldr .item .pic img {
  height: 100%;
  min-height: 750px;
  width: 100%;
}
.slider .sldr .item .pic:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(15, 64, 55, 0.4);
}
.slider .sldr .item .desc {
  padding-top: 200px;
  text-align: center;
  color: #f9e093;
  font-family: "Museo Cyrilic";
  font-size: 45px;
  font-weight: 900;
  line-height: 52px;
}
.slider .sldr .item .btn-slider {
  margin-top: 100px;
}

section {
  position: relative;
}

.content {
  background: url(../img/bg1.jpg) repeat-y;
}
.content .advantage {
  margin-top: 30px;
}
.content .advantage .item {
  margin: 20px 0;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 280px;
}
.content .advantage .item .ico img {
  max-width: 90px;
  width: 100%;
  height: auto;
}
.content .advantage .item .wrap {
  padding-top: 29px;
}
.content .advantage .item .ttl {
  font-size: 20px;
  font-weight: 600;
}
.content .ttl-advantage {
  padding-top: 70px;
}

.services-index {
  background-color: #00b4b1;
  padding-bottom: 95px;
}
.services-index .ttl-services-index {
  padding-top: 72px;
}
.services-index .serv {
  margin-top: 33px;
}
.services-index .serv .item {
  position: relative;
  padding: 22px 15px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 12px 0;
  height: 104px;
}
.services-index .serv .item .icon {
  flex: none;
}
.services-index .serv .item .icon img {
  max-width: 80px;
  width: 100%;
  height: auto;
}
.services-index .serv .item .ttl {
  width: 100%;
  text-align: center;
  padding: 0 10px;
}
.services-index .serv .item a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.services-index .btn-services-index {
  margin-top: 100px;
}

.price-index {
  background: #069593;
  padding-bottom: 50px;
}
.price-index .btn-price {
  margin-top: 60px;
}
.price-index-ttl {
  padding-top: 71px;
}
.price-index .prc-index {
  margin-top: 30px;
}
.price-index .prc-index .table {
  width: 100%;
}
.price-index .prc-index .table table {
  border-collapse: collapse;
  border-width: 0px;
  padding: 0px;
  margin: 0px;
  width: 100%;
}
.price-index .prc-index .table table thead tr {
  border-bottom: 1px solid #b49600;
  padding: 11px 0;
  height: 75px;
  background: #b49600;
}
.price-index .prc-index .table table thead th {
  border-right: 1px solid #b49600;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}
.price-index .prc-index .table table tbody tr {
  border-bottom: 1px solid #b49600;
}
.price-index .prc-index .table table tbody td {
  border-right: 1px solid #b49600;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  height: 45px;
  text-align: center;
}
.price-index .prc-index .table table tbody td:first-child {
  padding-left: 50px;
  text-align: left;
}
.price-index .prc-index .table table tbody td:last-child {
  border-right: none;
}
.price-index .prc-index .table .strong {
  font-weight: bold;
}
.price-index .prc-index .markup {
  min-height: 253px;
  background-color: #00b4b1;
  padding: 25px 70px;
}
.price-index .prc-index .markup .ttl {
  text-align: center;
}
.price-index .prc-index .markup-list {
  margin-top: 20px;
}
.price-index .prc-index .markup-list ul li {
  list-style: none;
  position: relative;
  padding: 6px 0;
  padding-left: 10px;
  list-style-image: url(../img/list.png);
}
.price-index .prc-index .markup:first-child {
  margin-right: 15px;
}
.price-index .prc-index .markup:last-child {
  margin-left: 15px;
}
.price-index .prc-index .distance {
  min-height: 447px;
}
.price-index .prc-index .distance-dist ul {
  -webkit-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 2em;
  column-gap: 3em;
  -webkit-column-width: 190px;
  column-width: 190px;
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: number;
}
.price-index .prc-index .distance .down {
  text-align: center;
  margin-top: 40px;
}
.price-index .prc-index .distance .down img {
  cursor: pointer;
  transition: all 0.3s;
  -webkit-filter: saturate(50%);
          filter: saturate(50%);
}
.price-index .prc-index .distance .down img:hover {
  -webkit-filter: saturate(150%);
          filter: saturate(150%);
}
.price-index .prc-index .oplet {
  margin-top: 40px;
}
.price-index .prc-index .note {
  border: 3px solid #00b4b1;
  margin-top: 30px;
  margin-right: 15px;
}
.price-index .prc-index .note .txt {
  padding: 40px 32px;
}
.price-index .prc-index .note .txt p {
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
}

.banner-index {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  height: 100%;
}
.banner-index .ttl-banner {
  text-align: center;
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.23);
  font-size: 64px;
  font-weight: 900;
  line-height: 60px;
}

.one-ban {
  min-height: 490px;
  background: url(../img/bg3.jpg) no-repeat center center;
}

.review-index {
  background-color: #00b4b1;
}
.review-index .ttl-review-index {
  margin-top: 71px;
}
.review-index .rev {
  margin-top: 61px;
}
.review-index .rev .item {
  text-align: center;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  min-height: 504px;
  padding-left: 35px;
  padding-right: 35px;
}
.review-index .rev .item .auhtor {
  padding-top: 40px;
}
.review-index .rev .item .name {
  margin-top: 23px;
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
}
.review-index .rev .item .seporate {
  margin-top: 23px;
  height: 2px;
  width: 100px;
  display: inline-block;
  background: #f9e093;
}
.review-index .rev .item .desc {
  padding: 50px 0;
}
