@media only screen and (max-width: 1500px){
	.works-index .work .next-work-index {
    	right: 30px;
	}
	.works-index .work .prev-work-index {
    	left: 30px;
    	z-index: 1;
	}
}
@media only screen and (max-width: 1280px){
	.stock-index .stk .arrow-one {
	    right: 217px;
	    top: 57px;
	    img{
	    	width: 65%;
	    	transform: rotate(15deg);
	    }
	}
	.stock-index .stk .arrow-two {
	    right: 206px;
	    bottom: 90px;
	    img{
	    	transform: rotate(114deg);
    		width: 65%;
	    }
	}
	.calc-page .resultat{
		right: 0;
	}
}
@media only screen and (max-width: 992px){
	header .oplet {
	    flex-wrap: wrap;
	}
	header .menu nav ul li a{
		padding: 0;
	}
	header .menu {
    	min-height: 40px;
    	width: 100%;
    }
    header .menu nav ul{
    	-webkit-justify-content: space-between;
    	        justify-content: space-between;
    }
    header{
    	padding: 0 10px;
    }
    .slider .prev{
    	left: 10px;
    }
    .slider .next{
    	right: 10px;
    }
    .price-index .prc-index .markup:first-child, .price-index .prc-index .note {
    	margin-right: 0;
	}
	.price-index .prc-index .note{
		margin-top: 5px;
	}
	.price-index .prc-index .markup:last-child {
    	margin-left: 0;
    	margin-top: 20px;
	}
	.stock-index .stk .item{
		position: static;
		margin-top: 30px;
	}
	.stock-index .stk .item .desc{
		margin-left: auto;
		margin-right: auto;
	}
	.stock-index .stk .arrow{
		display: none;
	}
	.stock-index .stk .item img{
		max-width: 70px;
		width: 100%;
		height: auto;
	}
	.review-index .rev .item{
		padding-left: 10px;
		padding-right: 10px;
	}
	.review-index .rev .item .auhtor{
		padding-top: 30px;
	}
	.review-index .rev .item .desc{
		padding: 15px 0;
	}
	.slider .sldr .item .desc br, .banner-dop .ban-dop .arrow, .menu-footer{
		display: none;
	}
    .banner-dop .ban-dop .left-list, .banner-dop .ban-dop .right-list{
        margin-bottom: 20px;
    }
    footer .oplet {
        padding: 0 14px;
    }
    .service-page{
    	display: flex;
    	-webkit-flex-direction: column;
    	    -ms-flex-direction: column;
    	        flex-direction: column;
    }
    .service-page aside{
    	margin-bottom: 30px;
    	padding-left: 10px;
    	padding-right: 15px;
    }
    .service-page aside nav{
    	max-height: 246px;
    }
    .calc-page .resultat{
    	position: relative;
    	max-width: 100%;
    	margin-top: 30px;
    }
    .calc-page .calculator form fieldset .upload-file{
    	flex-wrap: wrap;
    }
    .modal-calc-window .dop-usl-window .dop-us-wrap {
    	justify-content: space-around;
    	flex-wrap: wrap;
	}
}
@media only screen and (max-width: 768px){
	.price-index{
	    .prc-index{
	        .table{
	            table{
	                thead{
	                	display: none;
	                    tr{
	                    }
	                    th{
	                    }
	                }
	                tbody{
	                    tr{
	                    margin-bottom: 10px;
						display: block;
					    border-bottom: 6px solid #ddd;
					    padding: 5px;
	                    }
	                    td{
	                    	display: block;
						    text-align: right;
						    border-right: none;
						    font-size: 14px;
	                        &:first-child {
	                        	padding-left: 0;
	    						text-align: right;
	                        }
	                        &:last-child {
	                        }
	                        &:before{
							    content: attr(data-label);
							    float: left;
							    text-transform: uppercase;
							    font-weight: bold;
							    font-size: 12px;
	                        }
	                    }
	                }
	            }
	            caption{
	                
	            }
	        }
	    }
	}

	.slider .sldr .item .desc{
		padding-top: 80px;
		font-size: 38px;
    	line-height: 44px;
	}
	.slider .sldr .item, .slider .sldr .item .pic, .slider, .slider .sldr .item .pic img{
		min-height: 580px;
	}
	.slider .prev img, .slider .next img {
    	width: 60%;
	}
	.slider .next{
		text-align: right;
	}
	.review-index .rev .item{
		margin-bottom: 25px;
	}
	.ttl-head h2{
		font-size: 34px;
	}
	.banner-index .ttl-banner br, .ttl-head h2 br{
		display: none;
	}
	.works-index .work .next-work-index img, .works-index .work .prev-work-index img{
		max-width: 50px;
		width: 100%;
		height: auto;
	}
    .banner-dop .ban-dop .left-list ul {
        padding: 50px 26px 50px 74px;
    }
    .banner-dop .ban-dop .right-list ul {
        padding: 50px 28px 50px 54px;
    }
    .services-card .img{
    	margin-right: auto;
    	margin-left: auto;
    }
    .services-card{
    	max-width: 310px;
    	margin-left: auto;
    	margin-right: auto;
    }
    .banner-buttons-pages{
    	-webkit-flex-direction: column;
    	    -ms-flex-direction: column;
    	        flex-direction: column;
    }
    .banner-buttons-pages .btn-ban{
    	margin: 7px 0;
    }
    .banner-buttons-pages .btn-ban:first-child button, .banner-buttons-pages .btn-ban:last-child button {
		width: 100%;
		border-radius: 23px;
    }
    .contacts-page .contacts-wrapper .adrs, .backform{
        text-align: center;
    }
    .contacts-page .contacts-wrapper .backform form{
        margin-left: auto;
        margin-right: auto;
    }
    .modal-calc-window .window-wrapper .item{
    	max-width: 100%;
    }
}
@media only screen and (max-width: 530px){
	.calc-page .calculator form fieldset .btns-area {
	    flex-wrap: wrap;
	    justify-content: center;
	}
	.calc-page .calculator form fieldset .btns-where, .calc-page .calculator form fieldset .btns-complect, .calc-page .calculator form fieldset .btns-additionlly{
		justify-content: center;
	}
	.calc-page .calculator form fieldset .phone-input{
		flex-direction: column;
		input{
			max-width: 100% !important;
			margin: 0;
			margin-bottom: 10px;
		}
	}
	.calc-page .calculator form fieldset .address-input{
		flex-direction: column;
		input{
			max-width: 100% !important;
			margin: 0;
			margin-bottom: 10px;
		}
	}
	.modal-calc-window{
		padding: 40px 10px;
	}
}
@media only screen and (max-width: 480px){
	header .menu{
		position: relative;
	}
	header .oplet{
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	header .oplet > div{
		margin: 10px 0;
	}
	header .menu #sandwich{
		bottom: 20px;
	}
	header .menu .mmenu{
		top: 50px;
	}
	.slider{
		margin-top: 247px;
	}
	.slider .next, .slider .prev{
		display: none;
	}
	.slider .sldr .item .desc {
    	font-size: 24px;
    	line-height: 30px;
	}
	.slider .sldr .item, .slider .sldr .item .pic, .slider, .slider .sldr .item .pic img{
		min-height: 400px;
	}
	.slider .sldr .item .btn-slider {
    	margin-top: 50px;
	}
	.banner-index .ttl-banner{
		font-size: 32px;
        line-height: 36px;
	}
    .ttl-head h2 {
        font-size: 28px;
        line-height: 35px;
    }
    .contain{
    	margin-top: 286px;
    }
	.date-input select{
		margin: 0;
		max-width: 100%;
		display: block;
		
	}
	.date-input input[type="date"] {
	    margin: 0;
	    max-width: 100%;
	    margin-bottom: 10px;
    }
}